/* GLOBAL styles
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family:Roboto;
}
body {
    display: flex;
    flex-direction: column;
}
.footer-inner, .header-inner, .panel-1-inner, 
.panel-2-inner, .panel-3-inner, .panel-4-inner {
    width: 80%;
    max-width: 800px;
    min-width: 800px;
}
header, footer, .main-panel {
    width:100%;
}
header, footer, .panel-1 {
    background-color: #1f2937;
}
.panel-1-inner, .panel-2-inner, .panel-3-inner, .panel-4-inner {
    min-height: 25vh;
}
.panel-1, .panel-2, .panel-3, .panel-4 {
    padding: 60px 0px;
    padding-bottom: 85px;
}

/* HEADER styles
*/
.header-inner > ul, .footer-inner, .p2-card {
    display: flex;
    gap: 12px;

    font-size: 18px;
    color: #e5e7eb;
}
.header-inner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    > ul {
        list-style: none;
        padding : 0;
        margin: 0;
    }
    > h1 {
        font-size: 24px;
        color: #f9faf8;
        font-weight: bold;
        font-style: italic;
        padding : 0;
        margin: 0;
    }
}

/* FOOTER styles
*/
.footer-inner {
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

/* MAIN PANEL styles
*/

/* PANEL ONE 
*/
.panel-1-inner {
    display: flex;
    min-height: 25vh;
    align-items:center;
    justify-content: center;

    .p1-inner-left {
        display:flex;
        flex-direction: column;
        align-items: flex-start;

        > h1 {
            font-size: 48px;
            color: #f9faf8;
            font-weight: 900;
        }
        > p {
            font-size: 18px;
            color: #e5e7eb;
        }
        > button {
            padding: 4px 24px;
            margin: 0;
            border-radius: 8px;
            background-color: #3882f6;
            color: #f9faf8;
        }
    }
    .p1-inner-left, .p1-inner-right {
        flex: 1;
        gap: 10px;
    }
    .p1-inner-right > img {
        width:400px;
        /* height: 250px; */
        overflow: hidden;
        margin: 0 auto;
    }
}

/* PANEL TWO 
*/
.panel-2-inner {
    display:flex;
    flex-direction: column;
    align-items: center;

    > h2 {
        font-weight: bolder;
        margin-bottom: 40px;
    }
    > .p2-card-row {
        display: flex;
        /* flex-direction:row; */
        justify-content: center;
        gap: 20px;

        
        .p2-card {
            display:flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            max-width: 175px; 

            > .p2-card-image {
                border: 3px solid rgb(50, 114, 253);
                width: 175px;
                height: 175px;
                border-radius: 8px;

                padding: 0;
                overflow: hidden;

                > img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            > p {
                margin: 0 auto;
                text-align: center;
                color: #1f2937;
                font-size: 16px;
            }
        }
    }
}

/* PANEL THREE 
*/
.panel-3 {
    background-color: #e5e7eb;
}
.panel-3-inner {
    font-size: 36px;
    color: #1f2937;

    > .p3-quoted-text {
        font-style: italic;
        font-weight: 100;
        width: 80%;
    }
    > .p3-quoted-owner {
        width: 80%;
        font-size: 18px;
        text-align: right;
        font-weight: 600;
    }
}

/* PANEL FOUR
*/
.panel-4-inner {
    background-color: #3882f6;
}